<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--收单提现API接口地址 -->
    <add key="BankPlatServiceAddress" value="http://192.168.20.100:8091/api/" />
    <!--提现API验证的AppSecret-->
    <add key="BPS_Withdrawal" value="123456" />
    <!--收单API验证的AppSecret -->
    <add key="BPS_Acquir" value="123456" />
    <!--查询API验证的AppSecret -->
    <add key="BPS_Select" value="123456" />
    <!--Nodejs接口验证AppKey -->
    <add key="NodeJsApiKey" value="R9qdvzFczwpQDZLYnFHkxgkNpv6wKv" />
    <!--Nodejs接口验证AppSecret -->
    <add key="NodeJsAppSecret" value="gc9RFhJmgoRNrHrazLGeVhNFzgQvA8" />
    <!--NodejsApi接口Cookie的Domain设置 -->
    <add key="i200TokenDomain" value=".i200.cn" />
    <add key="WebApiPerformance.ProcessId" value="i200_MainAPI" />
    <add key="WebApiPerformance.Enabled" value="true" />
    <!--RedisHost-->
    <add key="RedisHost" value="192.168.20.100" />
    <!--<add key="RedisHost" value="172.0.0.1" />-->
    <!--[必填]API系统-->
    <add key="API_SYS" value="localhost:2858" />
    <add key="SYSAPI" value="localhost:49214" />
    <!--MongoDBAPI-->
    <add key="sendEmailKey" value="24d3588473a4bb20633bab9f43d2f0c9" />
    <!-- AD Image Server -->
    <add key="ImageServer" value="http://img.i200.cn" />
    <!-- AD Transfer Url -->
    <add key="AdvertTransferUrl" value="http://localhost:15718/advert/transfer.aspx" />
    <!--会员搜索Elasticsearch -->
    <add key="ElasticsearchHost" value="http://192.168.20.100:9200" />
    <!--是否开启Elasticsearch搜索 -->
    <add key="IsOpenElasticsearchSearch" value="false" />
  </appSettings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}-webapi.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="DataBase" connectionString="Data Source=192.168.20.100;Initial Catalog=I200;Persist Security Info=True;User ID=sa;Password=Yuanbei123456" providerName="System.Data.SqlClient" />
    <add name="DataBaseStation" connectionString="Data Source=192.168.20.100;Initial Catalog=i200_Station;Persist Security Info=True;User ID=sa;Password=Yuanbei123456" providerName="System.Data.SqlClient" />
    <add name="WebApiPerformance.ConnectionString" connectionString="Data Source=192.168.20.100;Initial Catalog=MainAPI_Log;Persist Security Info=True;User ID=sa;Password=Yuanbei123456" providerName="System.Data.SqlClient" />
    <add name="ManageDataBase" connectionString="Data Source=192.168.20.100;Initial Catalog=Sys_I200;Persist Security Info=True;User ID=sa;Password=Yuanbei123456" providerName="System.Data.SqlClient" />
    <add name="LogDataBase" connectionString="Data Source=192.168.20.100;Initial Catalog=I200_Log;Persist Security Info=True;User ID=sa;Password=Yuanbei123456" providerName="System.Data.SqlClient" />
    <!--<add name="DataBase" connectionString="Data Source=172.0.0.1;Initial Catalog=I200;Persist Security Info=True;User ID=sa;Password=m123456" providerName="System.Data.SqlClient" />
    <add name="DataBaseStation" connectionString="Data Source=172.0.0.1;Initial Catalog=i200_Station;Persist Security Info=True;User ID=sa;Password=m123456" providerName="System.Data.SqlClient" />
    <add name="WebApiPerformance.ConnectionString" connectionString="Data Source=172.0.0.1;Initial Catalog=MainAPI_Log;Persist Security Info=True;User ID=sa;Password=m123456" providerName="System.Data.SqlClient" />
    <add name="ManageDataBase" connectionString="Data Source=172.0.0.1;Initial Catalog=Sys_I200;Persist Security Info=True;User ID=sa;Password=m123456" providerName="System.Data.SqlClient" />
    <add name="LogDataBase" connectionString="Data Source=172.0.0.1;Initial Catalog=I200_Log;Persist Security Info=True;User ID=sa;Password=m123456" providerName="System.Data.SqlClient" />
    <add name="Kafka" connectionString="http://172.0.0.1:9092" />-->
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <authentication mode="None" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebDAV" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="token,x-forwarded-for,content-type,userid" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>